body {
    background-color: bisque;
}

h1 {
    background-color: midnightblue;
    color: ghostwhite;
}

h2 {
    background-color: #094040;
    color: #ffffff;
}

h3 {
    background-color: rgb(147, 66, 6);
    color: rgb(0, 0, 0);
    /* Opacity works for whole container - background + font color */
    opacity: 0.5;
}

h4 {
    background-color: rgba(0, 108, 255, 0.33);
    color: #fff;
}
